services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: support
    ports:
      - "5432:5432"

  messaging:
    build: ./messaging
    ports:
      - "8001:8000"
    depends_on:
      - postgres
      - rabbitmq

  gateway:
    build: ./gateway
    ports:
      - "8000:8000"
    depends_on:
      - messaging
      - rabbitmq
    environment:
      MESSAGING_BASE_URL: http://messaging:8000
      RABBITMQ_HOST: rabbitmq
      EVENT_EXCHANGE: events
      JWT_SECRET: change_me_super_secret
      JWT_EXPIRE_MINUTES: 120

  ai_worker:
    build: ./ai_worker
    depends_on:
      - rabbitmq
      - messaging
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      PYTHONUNBUFFERED: "1"
      MESSAGING_BASE_URL: http://messaging:8000
      RABBITMQ_HOST: rabbitmq
      EVENT_EXCHANGE: events
      MESSAGE_RECEIVED_ROUTING_KEY: message.created
      AI_QUEUE_NAME: ai.message_received
      OLLAMA_URL: http://host.docker.internal:11434/api/generate
      OLLAMA_MODEL: phi3:mini
      JWT_SECRET: change_me_super_secret
      JWT_EXPIRE_MINUTES: 120
